@using Portal.Domain.Entities;

@{
    ViewData["Title"] = "ApiGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model AccessToken





<form  style=" box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); padding: 20px; " method="post" action="ApiGuncelle" enctype="multipart/form-data">


                    <div class="modal-header">
                        <h1 class="form-group" id="exampleModalLabel">API DÜZENLE</h1>
                    </div>
                    <div class="modal-body">
                        <h3>Id</h3>
            <div class="form-group" id="Id"> @Html.TextBoxFor(elm=>elm.Id, new {@class = "form-control", @type="text", @placeholder="Rol giriniz...", @value = Model?.Id , @readonly = "readonly"}) </div>

    
                        <h3>Başlık</h3>
                        <div class="form-group" id="kullaniciadi"> @Html.TextBoxFor(elm=>elm.TokenTitle, new {@class = "form-control", @type="text", @placeholder="Başlık giriniz...", @value = Model?.TokenTitle}) </div>

                        <h3>Token</h3>
                        <div class="form-group" id="sifre"> @Html.TextBoxFor(elm=>elm.Token, new {@class = "form-control", @type="text", @placeholder="Token giriniz...", @value = Model?.Token}) </div>

                        <h3>Son Değişiklik Tarihi</h3>
                         <div class="form-group" id="createdDate"> @Html.TextBoxFor(elm=>elm.CreatedDate, new {@class = "form-control", @type="text", @value = Model?.CreatedDate , @readonly = "readonly"}) </div>
                        </div>
                    

                    <div class="Buttonlar">
                    <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="Api">İptal</a>
                     <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
    </form>

