




<div class="Index-Screen my-4">
	<div class="text-center my-4">
		 <h1 class="center-text my-2">CPM Yazılım</h1>
		 <a class="btn btn-dark my-4" asp-controller="AnaSayfa" asp-action="AnaSayfa">Calender</a>
			


	</div>
	

</div>



