@{
    Layout = "_Layout1" ;
}



<div class="text-center">
    <h1 class="display-4">Cpm Yazılım</h1>
    <h3 class="container my-2">Etkinlik Oluşturma Arayüzüne Hoşgeldiniz.</h3>
    
    <a class="btn btn-dark my-2" asp-controller="AnaSayfa" asp-action="AnaSayfa">Giriş Yap</a>

</div>
