@{
	Layout = "_EmptyLayout";
}




  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div style> 
    <title>CPM</title>
    <style>
        
      body {
                background-color: #1d2549;
            }
    </style>
  </head>
  <div class="Index-Screen my-4">
    <div class="dark">
        
    </div>
	

</div>
</div>








<div class="Index-Screen my-4">
	<div class="text-center my-4">
		 <a class="btn btn-dark my-4" asp-controller="AnaSayfa" asp-action="AnaSayfa">Calender</a>
		 <a class="btn btn-primary my-4" asp-controller="AnaSayfa" asp-action="test">test</a>
         <a class="btn btn-danger my4" asp-controller="AnaSayfa" asp-action="Login">Login</a>
			
	</div>
	

</div>



