@using Portal.Domain.Entities;

@model UserListPageViewModal

@{
    ViewData["Title"] = "KullaniciYonetimi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>KullaniciYonetimi</h2>

<table class="table table-bordered">
    <tr>
        <td>Kullanıcı ID</td>
        <td>Kullanıcı Adı</td>
        <td>Kullanıcı Rolü</td>
        <td>Eklenme Tarihi</td>
        <td>Sil</td>
        <td>Düzenle</td>

    </tr>
    @foreach (var item in Model.User)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.UserName</td>
    <td>@item.Role</td>
    <td>@item.CreatedDate</td>
    <td><a href="/Deneyimlerim/DeneyimSil/@item." class="btn btn-danger">Sil</a></td>
    <td><a href="/Deneyimlerim/DeneyimGetir/@item." class="btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Deneyimlerim/DeneyimEkle" class="btn btn-primary">Yeni Deneyim Ekle</a>