


<!DOCTYPE html>
<html>
<title>Online HTML Editor</title>
<head>
</head>
<body>
    
    <div class="popup-container" id="popup-data">
        <button onclick ="closePopupData()" class="kapat-buton">&times;</button>
        <h2>Paylaşım İçeriği</h2>
        <input type="text" class="etkinlik-ad" placeholder="Paylaşım metnini giriniz...">
        <h3>Açıklama</h3>
        <textarea class="etkinlik-aciklama" placeholder="Etkinlik açıklamasını giriniz..." maxlength="3000"></textarea>
        <div class="karakter-sayisi">Kalan karakter: <span class="sayi">3000</span></div>
    
    </div>

</body>
</html>