@using Portal.Domain.Entities;
@model Etkinlik
@{
    Layout = "_UserLayout";
}
<html>
<head>


</head>


	<body >
  
                    <div class="modal-header">
                        <h1 class="form-group" id="exampleModalLabel">@Model.title</h1>
                    </div>
                    <div class="modal-body">

                        <h3>Etkinlik Tarihi</h3>
                        <div class="form-group"> @Html.TextBoxFor(elm => elm.start, new { @class = "form-control", @type = "text" }) </div>

                        <h3>Etkinlik Adı</h3>
                        <div class="form-group"> @Html.TextBoxFor(elm => elm.title, new { @class = "form-control", @type = "text" }) </div>

                        <h3>Etkinlik Metni</h3>
                        <div class="form-group"> @Html.TextAreaFor(elm => elm.description, new { @class = "form-control" }) </div>
    
                </div>
               


	</body>
</html>







