<!doctype html>
<html lang="en">
  <head>
    <title>Admin Paneli</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/sidebar-07/css/style.css"> <!-- Doğru CSS dosyası yolu burada olmalı -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
          <div class="sidebar-toggle-btn">
              <img id="sidebarCollapse" src="https://i.hizliresim.com/fws6wtg.png" class="btn btn-primary" alt="Toggle Menu">
         </div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
          </li>
          <li>
              <a href="#"><span class="fa fa-user"></span> Kullanıcı Yönetimi</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note"></span> Takvim</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cogs"></span> API Ayarları</a>
          </li>
          
        </ul>

        <div class="footer">
        	
        </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav >
          <div class="container-fluid">

           
          </div>
        </nav>

        @RenderBody() <!-- This is where the content from your Razor pages will be injected -->

      </div>
		</div>

    <script src="~/sidebar-07/js/jquery.min.js"></script>
    <script src="~/sidebar-07/js/popper.js"></script>
    <script src="~/sidebar-07/js/bootstrap.min.js"></script>
    <script src="~/sidebar-07/js/main.js"></script>
  </body>
</html>
