<!DOCTYPE html>
<html lang="tr">
<head> 
    
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cpm.Web</title>

    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
   
    <link href="c:\users\berke\.nuget\packages\bootstrap\5.3.1\contentfiles\any\any\wwwroot\css\bootstrap.min.css" rel="stylesheet" />
    <link href="c:\users\berke\.nuget\packages\bootstrap\5.3.1\contentfiles\any\any\wwwroot\css\bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="c:\users\berke\.nuget\packages\bootstrap\5.3.1\contentfiles\any\any\wwwroot\css\bootstrap.rtl.css" rel="stylesheet" />
    <link href="c:\users\berke\.nuget\packages\bootstrap\5.3.1\contentfiles\any\any\wwwroot\css\bootstrap.css" rel="stylesheet" />


</head>

<body>
    <meta charset='utf-8'>
    <header>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>


    
    @await RenderSectionAsync("Scripts", required: false)
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    
    <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>

    <script src="~/assets/js/custom/apps/calendar/calendar.js"></script>
    

    
</body>
</html>
