@*@using Portal.Domain.Entities;
@model User


<tr class="odd">
	<!--begin::Checkbox-->
	<td>
		<div class="form-check form-check-sm form-check-custom form-check-solid">
			
		</div>
	</td>
	<!--end::Checkbox-->
	<!--begin::User=-->
	<td class="d-flex align-items-center">
		<!--begin:: Avatar -->
		<div class="error my-4">@Model.UserName</div>
		<!--end::Avatar-->
		<!--begin::User details-->
		<!--begin::User details-->
	</td>
	<!--end::User=-->
	<!--begin::Role=-->


	<th id="admintype">@Model.Role</th>



	<td data-order="2023-08-08T10:57:22+03:00">
		<div style="min-width:400px;">@Model.Id</div>
	</td>
	


	<td >@Model.CreatedDate</td>

</tr>

*@