@using Portal.Domain.Entities;
@using Portal.Infrastructure;
@{
    Layout = "_EmptyLayout";
}
@model UserInMemory

<div id="feedback" style="max-width:450px; margin-left:0%; margin-top:5%; border:4px solid; border-color:red;  ">
    <h3 class="display-4" style="margin-left:10% ;">Geçersiz Kullanıcı</h3>
    <blockquote class="blockquote" style="margin-left:10% ;">
        Giriş Bilgileriniz Geçersiz Lütfen Tekrar Deneyiniz !!
    </blockquote>
    <a class="btn btn-outline-danger" style=" border:1px solid ; border-color:red" asp-action="Login">Geri</a>
</div>

