@{
    Layout = "_EmptyLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Butona Fotoğraf Ekleme</title>
</head>
<body>

    <!-- Butonun içine fotoğraf eklemek için <button> etiketi kullanılır -->
    <button>
        <!-- Fotoğrafı <img> etiketiyle ekleyebiliriz -->
        <img src="https://i.hizliresim.com/bzsxir6.png" alt="Fotoğraf" width="100" height="100">

    </button>

</body>
</html>
